@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "tailwindcss";

/* ↓ your custom variables and styles ↓ */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', Helvetica, sans-serif;
}

/* Tailwind Typography Dark Theme Fix */
.prose-invert h1, .prose-invert h2, .prose-invert h3 {
  color: white;
}
.prose-invert p {
  color: #d1d5db; /* Tailwind gray-300 */
}

